

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;

}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #b8212d;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: white;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #b8212d; color: #fff; text-shadow: none; }
::selection { background: #b8212d; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #b8212d;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

.navbar-inverse ul.navbar-nav li .li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus { border: 0; color: #b8212d; }

.navbar-brand {
	width: 123px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}


/***** Top content *****/

.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-box {
	padding-top: 4%;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background:rgba(0,0,0,0.7);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 70px 25px;
	background: rgba(0,0,0,0.5);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

form .form-bottom textarea {
	height: 100px;
}

form .form-bottom button.btn {
	min-width: 105px;
}

form .form-bottom .input-error {
	border-color: #e45d5d;
}

form.registration-form fieldset {
	display: none;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { height: 60px; margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 12px; }

	.inner-bg { padding: 40px 0 110px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

	.form-bottom { padding-bottom: 70px; }
	form .form-bottom button.btn { margin-bottom: 5px; }

}
#id_year:
{
	margin-bottom: 10px;
	height:50px;
}
@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo%402x.png) !important; background-repeat: no-repeat !important; background-size: 123px 49px !important;
    }

}
p.copy
{
	font-size: 15.6px;
}



/* input validity */

/*form
{
	opacity: 0.6;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}
div.form-top
{
	border-style: solid;
	border-width: 5px;
}*/
p.error-message
{
	color: red;
}
#btn-next-page-fb {
	padding-right: 45px;
    border: none;
    display: block;
    background-size: 60px 70px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
/*    width: 300px;
    height: 70px;*/
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(../../../static/facebook.png);
}
#btn-next-page-email
{
  
/* width: 300px;
  height: 70px;*/
}

/*----------------------------NAVBAR--------------------------*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  background-color: black;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
 letter-spacing: 1px;
    border-right: 1px solid rgba(255,255,255,.3);
}
@media (min-width:1386px){
    ul.topnav li a{
        color: rgba(255,255,255,.8);
        font-size: 15px;
        padding: 20px 8px;
    }
ul.topnav li a:hover {
/*    background-color:white; color: black;*/
    border-top: 1px solid white;
    border-bottom:1px solid white;
    color: white;
}
    ul.topnav{
        display: inline-block;
    }
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:1386px) {
  ul.topnav li:not(:first-child){display: none;}
    ul.topnav li:nth-child(10){display: block; float: right;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
    ul.topnav li a{border:1px solid white;margin-right: 8px;}
}

@media screen and (max-width:1386px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
      border: 1px solid rgba(255,255,255,.2);
  }
}

@media (min-width:1024px) and (max-width:1399px){
    ul.topnav li a{
        padding: 14px 20px;
    }
}
@media (min-width: 1386px) {
    .jnavbar
    {
    display: table;
    margin: 0 auto;
    width: 100%;
    background: rgba(0,0,0,.7);
    line-height: 16px;
    }
}
.desktopLogo{
  display: none;
}
.mobLogo{
  display: block;
  margin-top: 2%;
}
@media screen and (min-width:768px){
  .desktopLogo{
    display: block;
  }
  .mobLogo{
    display: none;
  }
}

/*-------------------/NAVBAR-------------------*/
@media screen and (min-width:768px) {
  .top-content{
position: fixed;
  }
}
